* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #cabdac;
  color: rgb(252, 239, 226);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Banner {
  padding: 15px;
  background-color: rgb(90, 87, 81);
  height: 300px;

}

.quote {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 32px;
  letter-spacing: 4px;
  text-shadow: 0 0 10px;
}

.nav {
  padding: 15px;
  margin: 15px;
  border: 2px solid rgb(153, 114, 63);
  text-align: center;
}

.nav a {
  border: 2px solid rgb(37, 15, 15);
  padding: 5px;
  color: rgb(78, 66, 66);
  text-decoration: wavy;
  margin: 5px;
}

.nav a:hover {
  background-color: rgb(114, 92, 95);
}


.Burger-card {
  width: 450px;
  height: 500px;
  background-color: #beb2a2;
}



.Burger-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#Burger {
  padding: 15px;
  background-color: #cabdac;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.Footer {
  color: rgb(245, 238, 229);
  padding: 15px;
  background-color: #cabdac;
  text-align: left;
  text-decoration: double;

}


.Fries-card {
  width: 450px;
  height: 500px;
  background-color: #cabdac;
}



.Fries-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#Fries {
  padding: 15px;
  background-color: #cabdac;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.footer {
  padding: 15px;
  background-color: bisque;
  text-align: center;
}

.wrapper {
  padding: 15px;
  background-color: rgb(104, 95, 82);
  margin: 15px;
}

.section-title {
  text-align: center;
  border-bottom: 5px solid white;
  width: fit-content;
  margin: 15px auto;
}

@keyframes quoteanim {
  from {
    color: lightblue;
  }

  to {
    color: rgb(231, 238, 238);
  }
}

.quote {
  animation: quoteanim 1s infinite;
}

.burger-recipe {
  color: black;
  text-align: left;
  font-style: oblique;
}

.fries-recipe {
  color: black;
  text-align: left;
  font-style: oblique;
}

.Pasta-card {
  width: 450px;
  height: 500px;
  background-color: #beb2a2;
}



.Pasta-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#Pasta {
  padding: 15px;
  background-color: #cabdac;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.Footer {
  color: rgb(252, 250, 248);
  padding: 15px;
  background-color: #cabdac;
  text-align: left;
  text-decoration: double;
}

#contact {
  padding: 5px;
  background-color: rgb(117, 103, 105);
  text-align: left;
}